* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}

.section {
  padding: 50px 0;
}

.container {
  width: 94%;
  height: 100%;
  margin: 0 auto;
}

.header-title,
.about-title,
.offer-title {
  font-size: 36px;
  font-weight: 700;
}

.about-title,
.offer-title {
  text-align: center;
}

.service-name {
  font-size: 24px;
  font-weight: 400;
}

.p-tag,
.nav-menu-link,
.header-button {
  font-size: 18px;
}
/* media queries */

/* Tablet - 768px */

@media (min-width: 768px) {
  .container {
    width: 85%;
  }

  .header-title {
    width: 577px;
  }

  .about-title,
  .offer-title {
    text-align: left;
  }

  .employee {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

  .employee-photo-wrapper {
    min-width: 197px;
  }

  .employee-description {
    text-align: unset;
  }

  .employee:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
  }

  .service {
    width: 86%;
  }

  .service-box {
    width: 45%;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Laptop - 1024px */

@media (min-width: 1024px) {
  .container {
    width: 960px;
  }

  .nav-menu {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu-item {
    list-style: none;
  }

  .nav-menu-link {
    color: #f1f1f1;
    text-decoration: none;
  }

  .disabled {
    cursor: not-allowed;
  }

  .header-button {
    cursor: pointer;
    transition: background-color 1s, color 1s;
  }

  .header-button:hover {
    background-color: #ffffff;
    color: #000000;
  }

  .service {
    width: 68%;
  }

  .service-box {
    width: 28%;
    transition: transform 0.5s;
  }

  .service-box:hover {
    transform: scale(1.05);
  }
}
