.footer {
    width: 100%;
    background-color: #4e4e4e;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  
  .copyrights {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
  }
  
  .social-media {
    display: flex;
    gap: 18px;
  }
  
  .social-media-icon {
    font-size: 31px;
    color: #ffffff;
  }
  